<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!-- 引入配置文件 -->
    <!--<context:property-placeholder location="classpath:config/*.properties"/>-->

    <!-- DAO接口所在包名，Spring会自动查找其下的类,配置扫描Dao接口包，动态实现Dao接口，注入到Spring容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入sqlSessionFactory -->
       <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- 给出需要扫描DAO接口包 -->
        <property name="basePackage" value="org.seckill.dao"/>
    </bean>

    <!-- 配置事务管理 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 配置基于注解的声明式事务，默认使用注解来管理事务行为 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--邮件配置-->
    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="mail.ewell.cc"/>
        <property name="port" value="25"/>
        <property name="username" value="songxu@ewell.cc"/>
        <property name="password" value="xu98247426"/>
    </bean>


    <!-- 引入全局配置 -->
    <bean class="org.seckill.config.applicationContextConfig"/>



</beans>
